/* CSS declarations go here */
.clearfix {
  width:100%;
}

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

ul.rooms {
  width: 320px;
}

ul.rooms li.selected {
  background-color: yellow;
}

ul.comments {
  width: 640px;
  height: 320px;
  overflow-y: scroll;
  border: solid 1px black;
  padding: 0px;
}

ul.comments li {
  list-style-type: none;
  margin-left: 0px;
  padding: 6px;
}

ul.comments li:nth-child(odd) {
  background-color: #CCCCFF;
}

ul.comments li span.name {
  font-weight: bold;
}

ul.comments li span.date {
  color: gray;
}
